body:not(.theme-light) {
    .footer {
        &__holder {
            border-top: 1px solid $dark-200;
        }

        &__logo {
            p {
                color: $white;
            }
        }

        & h4 {
            &.footer__headline {
                color: $white;
            }
        }

        &__nav {
            & a {
                color: $white;

                &:hover,
                &:active {
                    color: $magenta-100;
                }
            }

            & .current_page_item {
                & a {
                    color: $magenta-100;
                }
            }
        }

        &__soc-list {
            & a {
                & > svg {
                    &,
                    & path {
                        fill: $white;
                    }
                }

                &:hover {
                    & > svg {
                        &,
                        & path {
                            fill: $magenta-100;
                        }
                    }
                }
            }
        }

        &__divide {
            border-bottom: 1px solid $dark-200;
        }

        & .nav-bottom {
            &__item {
                color: $white;
            }

            & a {
                &.nav-bottom__item {
                    &:hover,
                    &:active {
                        color: $magenta-100;
                    }
                }
            }
        }
    }
}
