body:not(.theme-light) {
    & .slider-roadmap {
        &__pic {
            &.empty {
                background-color: rgba($dark-1000, 0.2);

                &::before {
                    background-image: url("../images/plug.png");
                }
            }
        }

        &__plug {
            background-color: rgba($dark-1000, 0.5);

            & > svg {
                fill: $muted-1000;
            }
        }
    }

    & .slider-cards {
        &--color {
            & .card {
                background-color: $dark-100;
            }
        }
    }

    & .slider-control {
        & .swiper-button-next,
        & .swiper-button-prev {
            box-shadow: inset 0 0 10px rgba($white, 0.4);

            & svg {
                stroke: $white;
            }
        }
    }
}
