.scroll {
    &-auto {
        &-x {
            overflow-x: auto;
        }

        &-y {
            overflow-y: auto;
        }
    }

    &-y {
        overflow-y: scroll;
    }
}

.o {
    &-hidden {
        overflow: hidden;
    }

    &-visible {
        overflow: visible;
    }
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
