.min-w {
    &-0 {
        min-width: 0;
    }

    &-160 {
        min-width: 160px;
    }

    &-300 {
        min-width: 300px;
    }

    &-640 {
        min-width: 640px;
    }
}

.min-h {
    &-420 {
        min-height: 420px;
    }
}

.max-w {
    &-130 {
        max-width: 130px;
    }

    &-265 {
        max-width: 265px;
    }

    &-270 {
        max-width: 270px;
    }

    &-280 {
        max-width: 280px;
    }

    &-290 {
        max-width: 290px;
    }

    &-185 {
        max-width: 185px;
    }

    &-305 {
        max-width: 305px;
    }

    &-360 {
        max-width: 360px;
    }

    &-385 {
        max-width: 385px;
    }

    &-390 {
        max-width: 390px;
    }

    &-450 {
        max-width: 450px;
    }

    &-480 {
        max-width: 480px;
    }

    &-490 {
        max-width: 490px;
    }

    &-500 {
        max-width: 500px;
    }

    &-510 {
        max-width: 510px;
    }

    &-545 {
        max-width: 545px;
    }

    &-600 {
        max-width: 600px;
    }

    &-615 {
        max-width: 615px;
    }

    &-650 {
        max-width: 650px;
    }

    &-675 {
        max-width: 675px;
    }

    &-740 {
        max-width: 740px;
    }

    &-800 {
        max-width: 800px;
    }

    &-1024 {
        max-width: 1024px;
    }
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.xs\:w-full {
    @include max-w-xs {
        width: 100%;
    }
}

.sm-max\:max-w {
    @include max-w-sm {
        &-none {
            max-width: none;
        }

        &-200 {
            max-width: 200px;
        }
    }
}

.xs-max\:max-w {
    @include max-w-xs {
        &-none {
            max-width: none;
        }

        &-280 {
            max-width: 280px;
        }
    }
}

.xs-max\:over-w {
    @include max-w-xs {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.h {
    &-230 {
        height: 230px;
    }
}
